# Backend framework
fastapi
uvicorn
python-multipart

# AI / NLP
spacy
sentence-transformers

# LangGraph for multi-agent workflow
langgraph
langchain

# Hugging Face API calls
httpx

# Docling for document parsing
langchain-docling

# Pydantic for state models
pydantic

# Google AI (Official Gemini Client)
google-genai

# Front end
plotly
streamlit